.namesInputContainer {
  display: flex;
  justify-content: space-between;
}

.namesInputContainer div {
  width: 360px;
}

.namesInputContainer div input{
  height: 60px;
  width: 360px;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #DEE1E7;
}