.addressInfoContainer {
  display: flex;
  justify-content: space-between;
}

.addressInfoContainer div input {
  height: 60px;
  width: 360px;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #DEE1E7;
}

.addressInfoContainer div {
  width: 360px;
}

.addressInfoContainer div select {
  height: 60px;
  width: 360px;
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #DEE1E7;
  background-color: white;
}